.App {
  margin: 0;
}

a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }

.wrapper {
  background-color: rgba(232, 237, 234, 0.5);
}

.content_wrapper {
  max-width: 1920px;
  min-width: 720px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  min-height: 2000px;
}

.left_sidebar {
  min-width: 320px;
  grid-column: 1;
  border-top: 0px;
  border-bottom: 0px;
}

.main_container {
  padding-top: 20px;
  min-width: 1280px;
  grid-column: 2/6;
  border-top: 0px;
  border-bottom: 0px;
  background-color: rgba(255,255,255);
}

.right_sidebar {
  grid-column: 6;
  border-top: 0px;
  border-bottom: 0px;
}

.link {
  color: #F2F2F2
}
.link:hover {
   color: #FFF;
}

input {
  font-size: 10px;
}