<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.capstone.CircleSearch.Model.dao.BoardDAO">
    <insert id = "newBoard"
            parameterType="com.capstone.CircleSearch.Model.dto.BoardDTO"
            useGeneratedKeys="true"
            keyProperty="seq">
        INSERT INTO Board_tb(title,contents,id,password)
            VALUE (#{title}, #{contents}, #{id}, #{password})
    </insert>

    <select id="getBoard" parameterType="Integer" resultType="com.capstone.CircleSearch.Model.dto.BoardDTO">
        SELECT seq,title,contents,id,count
        FROM Board_tb
        WHERE seq = #{param}
          AND deleted = 'N'
    </select>
    <update id="editBoard" parameterType="com.capstone.CircleSearch.Model.dto.BoardDTO">
        UPDATE Board_tb
        SET password = password
        <if test="title !=null">
            , title = #{title}
        </if>
        <if test="contents != null">
            , contents =#{contents}
        </if>
        <if test ="id != null">
            , id = #{id}
        </if>
        <if test ="deleted != null">
            , deleted =#{deleted}
        </if>
        WHERE seq =#{seq}
    </update>

    <update id="addBoardReadCount"
            parameterType="int">
        UPDATE Board_tb
        SET count = count+1
        WHERE seq = #{seq}
          AND deleted ='N'
    </update>

    <select id="getReadCount" parameterType="int" resultType="int">
        SELECT count
        FROM Board_tb
        WHERE seq = #{seq}
          AND deleted = 'N'
    </select>
</mapper>