<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.CircleSearch.Model.dao.CheckIdDAO">
    <select id="checkUserid" parameterType="String" resultType="int">
        SELECT COUNT(user_id)
        FROM User_tb
        WHERE user_id = #{param}
    </select>

    <select id="checkUserNickname" parameterType="String" resultType="int">
        SELECT COUNT(user_nickname)
        FROM User_tb
        WHERE user_nickname = #{user_nickname}
    </select>

    <select id="selectAllCollegeList"  resultType="String">
        SELECT college_name FROM College_tb
    </select>

    <select id="getLogin" parameterType="String" resultType="String">
        SELECT user_password FROM User_tb
        WHERE user_id = #{id}
    </select>
    <select id="selectRegion" resultType="String">
        SELECT city FROM Region_tb
    </select>
    <select id="getMyCircle" resultType="java.util.HashMap">
        SELECT circle_name,url FROM MyCircle_tb
        WHERE user_id = #{user_id}
    </select>
</mapper>