<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.CircleSearch.Model.dao.CheckIdDAO">
    <select id="checkUserid" parameterType="com.capstone.CircleSearch.Model.dto.CheckIdDTO" resultType="int">
        SELECT COUNT(USER_ID)
        FROM USER_tb
        WHERE USER_ID = #{id}
    </select>

    <select id="checkUserNickname" parameterType="com.capstone.CircleSearch.Model.dto.CheckIdDTO" resultType="int">
        SELECT COUNT(USER_NICKNAME)
        FROM USER_tb
        WHERE USER_NICKNAME = #{id}
    </select>

    <select id="selectAllCollegeList" parameterType="com.capstone.CircleSearch.Model.dto.CheckIdDTO" resultType="com.capstone.CircleSearch.Model.dto.CheckIdDTO">
        SELECT COLLEGE_NAME FROM COLLEGE_tb
    </select>
</mapper>