<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.CircleSearch.Model.dao.CheckIdDAO">
    <select id="checkUserid" parameterType="com.capstone.CircleSearch.Model.dto.CheckIdDTO" resultType="int">
        SELECT COUNT(user_id)
        FROM User_tb
        WHERE user_id = #{id}
    </select>

    <select id="checkUserNickname" parameterType="com.capstone.CircleSearch.Model.dto.CheckIdDTO" resultType="int">
        SELECT COUNT(user_nickname)
        FROM User_tb
        WHERE User_nickname = #{id}
    </select>

    <select id="selectAllCollegeList" parameterType="com.capstone.CircleSearch.Model.dto.CheckIdDTO" resultType="com.capstone.CircleSearch.Model.dto.CheckIdDTO">
        SELECT College_name FROM College_tb
    </select>

    <select id="getLogin" parameterType="com.capstone.CircleSearch.Model.dto.CheckIdDTO" resultType="String">
        SELECT user_password FROM User_tb
        WHERE user_id = #{id}
    </select>
</mapper>