<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.CircleSearch.Model.dao.CircleDAO">

    <insert id="insertCoCircle" parameterType="com.capstone.CircleSearch.Model.dto.CoCircleDTO" keyProperty="index">
        INSERT INTO CoCircle_tb(college_code , interest_code,  circle_name,purpose,url,manager,filename,filepath)
        VALUES(#{college_code}, #{interest_code},#{circle_name},#{purpose},#{url},#{manager},#{filename},#{filepath})
    </insert>

    <insert id="insertUniCircle" parameterType="com.capstone.CircleSearch.Model.dto.UniCircleDTO" keyProperty="index">
        INSERT INTO UniCircle_tb(region_code , interest_code,  circle_name,purpose,url,manager,filename,filepath)
        VALUES(#{region_code}, #{interest_code},#{circle_name},#{purpose},#{url},#{manager},#{filename},#{filepath})
    </insert>

    <update id="createTable" parameterType="String" >
        CREATE table if not exists ${url}Circle_tb(
            `index` int NOT NULL AUTO_INCREMENT,
            `user_id` varchar(45) NULL,
            `manage_num` varchar (45) NULL,
            `user_nickname` varchar (45) NULL,
            `deleted` varchar(1) NULL,
            PRIMARY KEY (`index`))
    </update>

    <update id="createRequestTable" parameterType="String" >
        CREATE table if not exists ${url}Request_tb(
            `index` int NOT NULL AUTO_INCREMENT,
            `user_id` varchar(45) NULL,
            `goal` varchar (255) NULL,
            `deleted` varchar (1) NULL,
            PRIMARY KEY (`index`))
    </update>

    <insert id="insertManager" parameterType="String">
        INSERT INTO ${url}Circle_tb(user_id,manage_num,user_nickname,deleted)
        VALUES(#{id},3,#{nickname},'N')
    </insert>
    
    <select id="selectUniCircle" resultType="com.capstone.CircleSearch.Model.dto.UniCircleDTO">
        SELECT *
        FROM UniCircle_tb
        WHERE interest_code LIKE IF(#{iCode} = 0, '%', #{iCode})
          AND region_code LIKE IF(#{rCode} = 0, '%', #{rCode})
    </select>

    <insert id="storeMyCircle" parameterType="String">
        INSERT INTO MyCircle_tb(user_id,circle_name,url,grade)
        VALUES(#{id},#{circle_name},#{url},3)
    </insert>

    <select id="selectCoCircle" parameterType="int" resultType="com.capstone.CircleSearch.Model.dto.CoCircleDTO">
        SELECT *
        FROM CoCircle_tb
        WHERE college_code = #{college_code}
    </select>

    <select id="checkMygrade" parameterType="String" resultType="Integer">
        SELECT grade
        FROM MyCircle_tb
        WHERE user_id = #{user_id} AND url = #{circle_url}
    </select>

    <select id="circlemember" parameterType="String" resultType="com.capstone.CircleSearch.Model.dto.MyCircleDTO">
        SELECT index, user_id,grade
        FROM MyCircle_tb
        WHERE url=#{circle_url}
    </select>
    <select id="getcirclename" parameterType="String" resultType="String">
        SELECT circle_name
        FROM MyCircle_tb
        WHERE user_id=#{user_id}
    </select>
    <select id="getmanagecircle" parameterType="String" resultType="String">
        SELECT circle_name
        FROM MyCircle_tb
        WHERE user_id=#{user_id} AND grade >=2
    </select>

   <update id="editupgrade" parameterType = "String">
       UPDATE MyCircle_tb
       SET grade = 2
       WHERE user_id=#{user_id}
        AND circle_name = #{circle_name}
   </update>

    <select id="getCircleCoInfo" parameterType="String" resultType="com.capstone.CircleSearch.Model.dto.CoCircleDTO">
        SELECT *
        FROM CoCircle_tb
        WHERE url = #{circle_url}
    </select>

    <select id="getCircleUniInfo" parameterType="String" resultType="com.capstone.CircleSearch.Model.dto.UniCircleDTO">
        SELECT *
        FROM UniCircle_tb
        WHERE url = #{circle_url}
    </select>
</mapper>