<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.CircleSearch.Model.dao.FindDAO">

    <select id ="findInterestcode" parameterType="com.capstone.CircleSearch.Model.dto.FindDTO" resultType="int">
        SELECT interest_code
        FROM Interest_tb
        WHERE category = #{interest}
    </select>

    <select id ="findRegioncode" parameterType="com.capstone.CircleSearch.Model.dto.FindDTO" resultType="int">
        SELECT region_code
        FROM Region_tb
        WHERE city = #{region}
    </select>

    <select id ="findCollegecode" parameterType="com.capstone.CircleSearch.Model.dto.FindDTO" resultType="int">
        SELECT college_code
        FROM College_tb
        WHERE college_name = #{college}
    </select>

    <select id="findUsernickname" parameterType="com.capstone.CircleSearch.Model.dto.FindDTO" resultType="String">
        SELECT user_nickname
        FROM User_tb
        WHERE user_id = #{id}
    </select>
    <select id="findUserInterest1" parameterType="String" resultType="int">
        SELECT user_interest1
        FROM User_tb
        WHERE user_id=#{user_id}
    </select>
    <select id="findUserInterest2" parameterType="String" resultType="int">
        SELECT user_interest2
        FROM User_tb
        WHERE user_id=#{user_id}
    </select>
    <select id="selectCategory1" parameterType="int" resultType="String">
        SELECT category
        FROM Interest_tb
        WHERE interest_code=#{interest1}
    </select>
    <select id="selectCategory2" parameterType="int" resultType="String">
        SELECT category
        FROM Interest_tb
        WHERE interest_code=#{interest2}
    </select>

    <select id="findCocircleurl" parameterType="String" resultType="String">
        SELECT url
        FROM CoCircle_tb
        WHERE circle_name=#{circle_name}
    </select>
    <select id="findUnicircleurl" parameterType="String" resultType="String">
        SELECT url
        FROM UniCircle_tb
        WHERE circle_name=#{circle_name}
    </select>

</mapper>