<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.capstone.CircleSearch.Model.dao.UserDAO">
    <select id="selectUsers" parameterType="com.capstone.CircleSearch.Model.dto.UserDTO"
            resultType="com.capstone.CircleSearch.Model.dto.UserDTO">
        SELECT * FROM USER_tb
        <if test="name != null and name != ''">
        WHERE USER_NICKNAME = #{name}
        </if>
    </select>

    <insert id="insertUsers" parameterType="com.capstone.CircleSearch.Model.dto.UserDTO" keyProperty="id">
        INSERT INTO USER_tb(USER_ID, USER_PW, USER_EMAIL) VALUES(#{id}, #{pw}, #{email})
    </insert>

    <insert id="insertUsersInfo" parameterType="com.capstone.CircleSearch.Model.dto.UserDTO">
        UPDATE USER_tb
        SET USER_NICKNAME = #{nickname}, USER_BIRTH  = #{birth}, USER_COLLEGE =#{college}, USER_MAJOR=#{major}, USER_REGION=#{region}, USER_STUDENTID=#{studentid}
        WHERE USER_ID = #{id}
    </insert>
</mapper>